extends layout

block content
    h1= title
    form(method='post', action='/')
        |  Find...
        br
        input(type='text', id='term', name='term')
        br
        | in...
        br
        input(type='text', id = 'location', name='location')
        br
        input(type='submit', value='Search')


