extends layout

block content
    nav(class="navbar navbar-default navbar-fixed-top")
        div(class="container-fluid")
            div(class="navbar-header")
                a(class="navbar-brand", href='') NomNom
            form(class="form-inline navbar-left", role="search", method='post')
                div(class="form-group ")
                    input(type='text', id="term", name='term', placeholder ="Find...", class="form-control")
                div(class="form-group")
                    input(type='text', id = "location", name='location', placeholder ="Near...", class="form-control")
                button(class="btn btn-default",type='submit') Search
            ul(class ="nav navbar-nav navbar-right")
                li(class ="nav-item")
                    a(class="navbar-link", href='#')
                        span(class="glyphicon glyphicon-user")
                li(class ="nav-item")
                    a(class="navbar-link", href='#')
                        span(class="glyphicon glyphicon-log-in")
                li(class ="nav-item")
                    a(class="navbar-link", href='#')